
.move, .highlight {
  visibility: hidden;
}

.board-area {
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board {
  height: 80%;
}

.footer {
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cards-area {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.card.selection {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.flow-control-area {
  position: relative;
  display: flex;
  flex-direction: column;
}

.button {
  font-size: "large";
  color: "#3377aa";
}

input.location-units {
  visibility:hidden; 
  font:400 1em Trirong; width:3em;
}

.unit-display-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lore-display-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer-button, .accept-button {
  border-style: outset;
  background-color: #eee;
}

.offer-button.selected {
  color: #aaa;
  border-style: inset;
}

span.offered, span.otherAlly {
  color: #555;
}

span.leadAlly {
  font-weight: bold;
}

td.alliance {
  border-left: 3px solid #888;
  padding-left: 6px;
  margin-left: 6px;
}
