
.game-area {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
}

.players {
  width: 20vw;
}

.play-area {
  position: relative; 
  max-height: 99vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.middle {
  position: relative;
  max-height: 84%;
  width: 100%;
  flex: 1 1 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-area {
  width: 100%;
  height: 100%;
}

.board {
  width: 100%;
  height: 100%;
}

.right-side {
  height: 100%;
  max-width: 5em;
  flex: 0 1 5em;
}

.footer {
  position: relative;
  width: 100%;
  height: 15%;
  max-height: 8.1em;
  flex: 0 1 8.1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bottom-cards-area {
  height: 100%;
}

.cards-area {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;    
  align-items: flex-end;
}

.cards-area-column {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end;
}

.cards-area-heading {
  margin: 0em;
  align-self: center;
}

.card.selection {
  position: relative;
  flex: 1 1;
  max-width: 5em;
  max-height: 8em;
  min-width: 2.5em;
  min-height: 4em;
}

.bottom-cards-area .card.selection {
  height: 95%;
}

.card svg {
  width: 100%;
  height: 100%;
  max-height: inherit;
}

.flow-control-area {
  position: relative;
  display: flex;
  flex-direction: column;
}

.move, .highlight, .keeper {
  visibility: hidden;
}

.input-overlay table {
  background-color: rgba(255, 255, 255, 0.6);
}

.button {
  font-size: "large";
  color: "#3377aa";
}

input.location-units {
  visibility:hidden; 
  font:400 1em Trirong; width:3em;
}

.unit-display-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.unit-display-area div {
  flex-basis: 4em;
}

.lore-display-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer-button, .accept-button {
  border-style: outset;
  background-color: #eee;
}

.offer-button.selected {
  color: #aaa;
  border-style: inset;
}

span.offered, span.otherAlly {
  color: #555;
}

span.leadAlly {
  font-weight: bold;
}

td.alliance {
  border-left: 3px solid #888;
  padding-left: 6px;
  margin-left: 6px;
}
